html,
body{
    margin: 0px;
    background-color: 
    
    rgba(0, 79, 116, 0.966);
    color: yellow;
}

.logo-principal {
    text-align: center;
}
.logo-segundario h1 {
    font-family: cursive;
}
.carta{
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#jugador-cartas,
#computadora-cartas{
    height: 240px;
}

.cabecera {
    width: 100%;
    height: 320px;
    background-color: black;

}
.logo-segundario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-segundario img{
    width: 80px;
    height: 100%;
    object-fit: cover;

}

.alien{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0;
    top: 100px;
}
.ph-alien-fill {
    color: aliceblue;
    font-size: 5rem;
}

.redes{
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.ph-facebook-logo-fill {
font-size: 8rem;
}

.ph-instagram-logo-fill {
    font-size: 8rem;
}

.ph-github-logo-fill{
    font-size: 8rem;
}

.ph-twitter-logo-fill{
    font-size: 8rem;
}

.titulo{
text-align: center;
}